<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <appSettings>
      <!--
        Enter the following information for the Cosmos db account to write sample data to:
        1. Account Endpoint 
        2. Primary Key for the account - to enable writes to the specified collection
        3. Database Name within which the collection resides
        4. Collection Name to write the data to
        5. Collection Partition Key - this is used when creating the partition key field for the collection (for Composite keys)  
        -->
      <add key="CosmosDBEndpointUri" value=""/>
      <add key="CosmosDBAuthKey" value=""/>
      <add key="DatabaseName" value="testDatabase"/>
      <add key="CollectionName" value="testColl"/>

      <!-- 1. Sample Data specifics -->
      <add key="GenerateSampleData" value="true"/>
      <add key="NumDocumentsToGenerate" value="16752"/>
      <add key="RecreateSampleDataCollection" value="true"/>
      <add key="SampleDataCollectionThroughput" value="20000"/>
      <add key="SampleDataCollectionPartitionKey" value="/partitionKey"/>
      <add key="DocSizesInKb" value="5"/>
      <add key="BatchSizeForWrites" value="1000"/>
      <add key="NumParallelTasks" value="5"/>
      
      <!-- 2. Sample Aggregation Rule Data specifics -->
      <add key="GenerateAggregationRules" value="true"/>
      <add key="RecreateAggregationRulesCollection" value="true"/>
      <add key="AggregationRulesDatabaseName" value="testDatabase"/>
      <add key="AggregationRulesCollectionName" value="AggregationRules"/>
      <add key="AggregationRulesCollectionThroughput" value="6000"/>
      <add key="AggregationRulesCollectionPartitionKey" value="/partitionKey"/>
      <add key="AggregationProperties" value="age,seniorityInYears,numPatents"/>
      <add key="AggregationGroupingField" value="title,stillEmployed"/>
      <add key="MaxRulesPerPartitionKey" value="5"/>
      <add key="NumDistinctPartitionKeys" value="1000"/>

      <!-- 3. Aggregation Results specifics -->
      <add key="RecreateAggregationResultsCollection" value="true"/>
      <add key="AggregationResultsDatabaseName" value="testDatabase"/>
      <add key="AggregationResultsCollectionName" value="AggregationResults"/>
      <add key="AggregationResultsCollectionThroughput" value="6000"/>
      <add key="AggregationResultsCollectionPartitionKey" value="/partitionKey"/>

      <add key="RecreateLeaseCollection" value="true"/>
      <add key="ExecuteChangeFeedProcessor" value="true"/>
      <add key="LeaseCollectionDatabaseName" value="leases"/>
      <add key="LeaseCollectionName" value="leases"/>
      <add key="LeaseCollectionThroughput" value="6000"/>
      
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
