<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.DocumentDB" version="2.2.1" targetFramework="net452" requireReinstallation="true" />
  <package id="Microsoft.Azure.DocumentDB.ChangeFeedProcessor" version="2.2.5" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" requireReinstallation="true" />
</packages>